acl = {  
    enabled = {{ acl.enabled|default(false, true)|bool|lower }}  
    default_policy = "{{ acl.default_policy|default('allow', true) }}"  
    enable_token_persistence = {{ acl.enable_token_persistence|default(false, true)|bool|lower }}
}
addresses {
    dns = "{{ addresses.dns }}"
    http = "{{ addresses.http }}"
    https = "{{ addresses.https }}"
    {% if addresses.grpc is defined -%}
    grpc = "{{ addresses.grpc }}"
    {% endif %} 
}
advertise_addr = "{{ advertise_addr }}"
advertise_addr_wan = "{{ advertise_addr_wan }}"
bind_addr = "{{ bind_addr }}"
client_addr = "{{ client_addr }}"
data_dir = "{{ data_dir }}"
datacenter = "{{ datacenter }}"
disable_update_check = {{ disable_update_check|bool|lower }}
{% if domain is defined -%}
domain = "{{ domain }}"
{% endif -%}
enable_script_checks = {{ enable_script_checks|bool|lower }}
enable_local_script_checks = {{ enable_local_script_checks|bool|lower }}
enable_syslog = {{ enable_syslog|bool|lower }}
encrypt = "{{ encrypt }}"
log_level = "{{ log_level }}"
node_name = "{{ node_name }}"
performance {
    leave_drain_time = "{{ performance.leave_drain_time }}"
    raft_multiplier = {{ performance.raft_multiplier }}
    rpc_hold_timeout = "{{ performance.rpc_hold_timeout }}"
}
ports {
    dns = {{ ports.dns }}
    http = {{ ports.http }}
    https = {{ ports.https }}
    grpc = {{ ports.grpc }}
    serf_lan = {{ ports.serf_lan }}
    serf_wan = {{ ports.serf_wan }}
    server = {{ ports.server }}
    sidecar_min_port = {{ ports.sidecar_min_port }}
    sidecar_max_port = {{ ports.sidecar_max_port }}
    expose_min_port = {{ ports.expose_min_port }}
    expose_max_port = {{ ports.expose_max_port}}
}
raft_protocol = {{ raft_protocol }}
{%- if recursors is defined %}
recursors = [
    {% for dns in recursors -%}
    "{{ dns }}",
    {% endfor -%}
]
{% endif %} 
retry_interval = "{{ retry_interval }}"
retry_join = [
    {% for host in ansible_play_hosts -%}
    {% if hostvars[host].consul_role == 'server' -%} 
    "{{ hostvars[host].ansible_host }}",
    {% endif -%} 
    {% endfor -%}
]
